[project]
name = "networking-scripts"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.12"
dependencies = [
    "dotenv>=0.9.9",
    "netmiko>=4.6.0",
    "pysnmp>=7.1.22",
]
